<!-- Carousel wrapper -->
<div id="carouselMultiItemExample" class="carousel slide carousel-dark text-center" data-mdb-ride="carousel">

    <!-- Inner -->
    <div class="carousel-inner py-4">
        <!-- Single item -->
        <div class="carousel-item active">
            <div class="container">
                <div class="row">
                    <div class="col-lg-4">
                        <div class="card">
                            <img src="https://mdbootstrap.com/img/new/standard/nature/181.jpg" class="card-img-top"
                                alt="..." />
                            <div class="card-body">
                                <h5 class="card-title">Water Grace </h5>
                                <p class="card-text">
                                    captured by sam studio addis ababa
                                </p>
                                <p>price $100</p>
                                <a class="btn btn-primary" (click)="pay()">Buy</a>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4 d-none d-lg-block">
                        <div class="card">
                            <img src="https://mdbootstrap.com/img/new/standard/nature/182.jpg" class="card-img-top"
                                alt="..." />
                            <div class="card-body">
                                <h5 class="card-title">Sunset</h5>
                                <p class="card-text">
                                    captured by kasahun in 1999 east base small village dello sebro
                                </p>
                                <P>price $1000 </P>
                                <a class="btn btn-primary" (click)="pay()">Buy</a>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4 d-none d-lg-block">
                        <div class="card">
                            <img src="https://mdbootstrap.com/img/new/standard/nature/183.jpg" class="card-img-top"
                                alt="..." />
                            <div class="card-body">
                                <h5 class="card-title">SunSet</h5>
                                <p class="card-text">
                                    captured by kasahun in 1999 east base small village dello sebro
                                </p>

                                <p>price $230</p>
                                <a class="btn btn-primary" (click)="pay()">Buy</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>   
</div>
