
<div class="bg-light">
    <div class="container py-5">
      <div class="row h-100 align-items-center py-5">
         
        <div class="col-lg-6">
          <h1 class="display-4">SOFUMER LLC</h1>
          <p class="lead text-muted mb-0">newly created Online ACH Payment system.</p>
          <p class="lead text-muted">
          </p>
        </div>
      </div>
    </div>
  </div>
  
  <div class="bg-white py-5">
    <div class="container py-5">
      <div class="row align-items-center mb-5">
        <div class="col-lg-6 order-2 order-lg-1"><i class="fa fa-bar-chart fa-2x mb-3 text-primary"></i>
          <h2 class="font-weight-light">Technology Used for development</h2>
          <ol>
              <li>FornEnd Angular with TS, bootstrap and css</li>
              <li>backend Node js</li>
              <li>Tools VS code editor , Internet explorer</li>
          </ol>
        </div>
      </div>
     
    </div>
  </div>
  

  
      <div class="row" id="abyuser">
        <div class="col-xl-3 col-sm-6 mb-5">
            <div class="bg-white rounded shadow-sm py-5 px-4">
              <ul class="social mb-0 list-inline mt-3">
               
              </ul>
            </div>
          </div>
        <!-- Team item-->
        <div class="col-xl-3 col-sm-6 mb-5">
          <div class="bg-white rounded shadow-sm py-5 px-4"><img src="../../../assets/kk.PNG" alt="" width="100" class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm">
            <h5 class="mb-0">Kasahun Tehone</h5><span class="small text-uppercase text-muted">CEO - Founder
                
            </span><br>
            <small>" The highest level of mastery is simplicity.
                Most Information is irrelevant and most effort is wasted ,but only the expert knows what to ignore. "</small>
                James clear
            <ul class="social mb-0 list-inline mt-3">
             
            </ul>
          </div>
        </div>
        <!-- End-->
  
        <!-- Team item-->
    
       
        </div>
        